body{
    margin: 0px;
}
.image-container {
    position: relative;
    display: inline-block; /* Adjust as needed */
}

.image-container img {
    display: block;
    width: 100%; /* Adjust as needed */

}

.text-overlay {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 40%; /* Adjust as needed */
    color: rgb(0, 0, 0); /* Adjust text color as needed */
    background-color: rgb(255, 255, 255); /* Optional: Add background for better readability */
    padding: 90px; /* Optional: Add padding for better appearance */
}
#art-con{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.sub{
    font-size: 25px;
}
.art-ttl{
    font-size: 40px;
}
article{
    width: 50%;
    font-size: 25px

}
.title{
    text-align: center;
    font-size: 60px;
}
nav{
    background-color: rgba(30,45,59,255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
}
